{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo.png' %}">
    {% tailwind_css %}
    {% block extra_head %}
    {% endblock %}
</head>
<body class="h-full flex flex-col">
    <header class="flex-[0.1_0.1_0%] flex justify-between items-center text-white bg-gradient-to-b from-blue-900 to-blue-600 p-4">
        <img src="{% static 'assets/philips_logo.png' %}" alt="Logo" id="ph-logo" class="home-button cursor-pointer max-h-8 mx-4">
        <div class="flex-1 flex justify-end p-1 mx-4 text-sm font-semibold">
            <div class="home-button flex-1 flex justify-end gap-x-8 items-center">
                <span id="home" class="cursor-pointer">Home</span>
                <span id="monitor" class="cursor-pointer">Monitor</span>
                {% if user.is_authenticated %}
                    <span class="text-white font-semibold">
                        Welcome, {{ user.email }}
                    </span>
                    <form action="{% url 'logout' %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-blue-600 rounded-xl text-white p-2 hover:bg-blue-900">Logout</button>
                    </form>
                {% else %}
                    <button id="login" class="bg-blue-600 rounded-xl text-white p-2 hover:bg-blue-900">Login</button>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="flex-1 flex flex-col justify-center items-center bg-gray-200/100">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="flex-[0.1_0.1_0%] flex flex-col justify-center items-center bg-gradient-to-t from-blue-900 to-blue-600 p-1">
        <img src="{% static 'assets/logo.png' %}" alt="logo" class="max-h-16">
        <p class="font-bold text-white">
            &copy; 2024 Philips Electronics Ltd. All rights reserved.
        </p>
    </footer>
    <script>
        document.getElementById("monitor").addEventListener("click", function() {
            window.location.href = "{% url 'monitor' %}";
        });
        document.getElementById("login").addEventListener("click", function() {
            window.location.href = "{% url 'login' %}";
        });
        document.getElementById("home").addEventListener("click", function() {
            window.location.href = "{% url 'home' %}";
        });

    </script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>